<div class="sideBar">

  <div class="empresa">
    <img class="empresa__logo" src="/assets/images/logo.jpg" alt="">
    <h1 class="empresa__nombre--size">Automotriz Pelayo S.A.C.</h1>
  </div>
  <ul class="navItems">
    <li class="navItem--style"><a href=""><i class="bi bi-graph-up"></i>Dashboard</a></li>
    <li class="navItem--style"><a href="">Clientes</a></li>
    <li class="navItem--style"><a href="">Vehículos</a></li>
    <li class="navItem--style"><a href="">Servicios</a></li>
    <li class="navItem--style"><a href="">Técnicos</a></li>
    <li class="navItem--style"><a href="">Facturas</a></li>
  </ul>
</div>
