<div class="sideBar">

  <div class="empresa">
    <img class="empresa__logo" src="/assets/images/logo.jpg" alt="">
    <h1 class="empresa__nombre--size">Automotriz Pelayo S.A.C.</h1>
  </div>
  <ul class="navItems">
    <li class="navItem--style"><a routerLink="/dashboard"><i class="fa-solid fa-chart-pie"></i>Dashboard</a></li>
    <li class="navItem--style"><a routerLink="/clientes"><i class="fa-regular fa-id-badge"></i>Clientes</a></li>
    <li class="navItem--style"><a routerLink="/vehiculos"><i class="fa-solid fa-car-side"></i>Vehículos</a></li>
    <li class="navItem--style"><a routerLink="/servicios"><i class="fa-brands fa-usps"></i>Servicios</a></li>
    <li class="navItem--style"><a routerLink="/tecnicos"><i class="fa-solid fa-wrench"></i>Técnicos</a></li>
    <li class="navItem--style"><a routerLink="/ordenes"><i class="fa-solid fa-briefcase"></i>Trabajos</a></li>
    <!-- <li class="navItem--style"><a routerLink="/factura"><i class="fa-solid fa-cash-register"></i>Facturas</a></li> -->
  </ul>
</div>
